<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>388092352031-08825g7hq4qgg6e2a4s949oom1934a4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388092352031-08825g7hq4qgg6e2a4s949oom1934a4r</string>
	<key>API_KEY</key>
	<string>AIzaSyDEty_BYkAAaV5xeR438ztcB_B7tMrCy9k</string>
	<key>GCM_SENDER_ID</key>
	<string>388092352031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Minh.Weicheng.Assignment3</string>
	<key>PROJECT_ID</key>
	<string>monash-home-automation</string>
	<key>STORAGE_BUCKET</key>
	<string>monash-home-automation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388092352031:ios:16d8b604c3cf1104</string>
	<key>DATABASE_URL</key>
	<string>https://monash-home-automation.firebaseio.com</string>
</dict>
</plist>